/**
 * Block Quote
 */

blockquote {
	.mx0;
	.px2;
}

blockquote p {
	.h3();
}

blockquote cite {
	.c-gray-dark();
}

blockquote p:first-of-type {
	text-indent: -0.625ch;
}

blockquote p:first-of-type::before {
	content: open-quote;
}

blockquote p:last-of-type::after {
	content: close-quote;
}

cite {
	font-style: normal;
}