/**
 * Headings
 */

/**
 * Margins
 */

h1, h2, h3, h4, h5, h6 {
	.line-height-heading;
}

/**
 * Font Size
 */

h1 {
	.h1;
}

h2 {
	.h2;
}

h3 {
	.h3;
}

h4, h5, h6 {
	.h4;
}

/**
 * Weight & Emphasis
 */

h1 {
	.c-black;
}

h1, h2, h3 {
	.bold;
}

h4 {
	.bold;
}

h5 {
	.normal;
}

h6 {
	.normal;
	.c-gray-dark;
}
