/**
 * Document
 */

html {
	.line-height-base();
	.sans();
	// 16px on 320px screen.
	// calc( ( ( 15 / 16 ) * 1em ) + ( ( 1 / 320 ) * 100vw ) )
	font-size: calc( 0.9375em + 0.3125vw );
}

body {
	.c-gray-darkest();
	.bg-gray-lightest();
}

.root {
	.py4();
}

.root > * + * {
	.mt4();
}
