/**
 * Colors
 */

@white: #ffffff;
@gray-lightest: hsl(53, 5%, 95%);
@gray-lighter: hsl(53, 3%, 70%);
@gray-light: #a4a6b6;
@gray: #807e92;
@gray-dark: #635c6d;
@gray-darker: hsl(53, 3%, 27%);
@gray-darkest: hsl(293, 5%, 10%);
@black: #000000;
