/**
 * Dark Mode
 */

.theme--inverse {
	.bg-gray-darkest;
	.c-gray-lightest;
}

@media( prefers-color-scheme: dark ) {
	body {
		.bg-gray-darkest;
		.c-gray-lightest;
	}

	h1 {
		.c-white;
	}

	h6,
	blockquote cite,
	figcaption {
		.c-gray-light;
	}

	pre,
	p > code {
		.bg-black;
	}

	.theme--inverse {
		.c-gray-darkest;
		.bg-gray-lightest;
	}
}
