/**
 * Background Color
 */

.bg-white {
	background-color: @white;
}
.bg-gray-lightest {
	background-color: @gray-lightest;
}
.bg-gray-lighter {
	background-color: @gray-lighter;	
}
.bg-gray-light {
	background-color: @gray-light;
}
.bg-gray {
	background-color: @gray;
}
.bg-gray-dark {
	background-color: @gray-dark;
}
.bg-gray-darker {
	background-color: @gray-darker;
}
.bg-gray-darkest {
	background-color: @gray-darkest;
}
.bg-black {
	background-color: @black;
}