/**
 * Color
 */

.c-white {
	color: @white;
}
.c-gray-lightest {
	color: @gray-lightest;
}
.c-gray-lighter {
	color: @gray-lighter;	
}
.c-gray-light {
	color: @gray-light;
}
.c-gray {
	color: @gray;
}
.c-gray-dark {
	color: @gray-dark;
}
.c-gray-darker {
	color: @gray-darker;
}
.c-gray-darkest {
	color: @gray-darkest;
}
.c-black {
	color: @black;
}
