/**
 * Font Size
 */

.h00 {
	font-size: 3em;
}

.h0 {
	font-size: 2.5em;
}

.h1 {
	font-size: 2em;
}

.h2 {
	font-size: 1.5em;
}

.h3 {
	font-size: 1.25em;
}

.h4 {
	font-size: 1em;
}

.h5 {
	font-size: 0.875em;
}

.h6 {
	font-size: 0.75em;
}
