/**
 * Line Height
 */

.line-height-1 {
	line-height: 1;
}

.line-height-2 {
	line-height: 1.125;
}

.line-height-heading {
	line-height: calc(1em + 0.5rem);
}

.line-height-3 {
	line-height: 1.25;
}

.line-height-base,
.line-height-4 {
	line-height: 1.5;
}
