/**
 * Lists
 */

.list {
	.pl0;
	list-style: none;
}

/**
 * React removes whitespace for us, no need for
 * font-size hack.
 */
.list--inline {

	white-space: nowrap;
	width: 100%;
	overflow: auto;

	li {
		white-space: normal;
		display: inline-block;
	}

	li + li {
		.ml1;
	}

}