/**
 * Margin
 * @see Basscss
 */

.m0  { margin:        0 }
.mt0 { margin-block-start:    0 }
.mr0 { margin-inline-end:  0 }
.mb0 { margin-block-end: 0 }
.ml0 { margin-inline-start:   0 }
.mx0 { margin-inline-start:   0; margin-inline-end:  0 }
.my0 { margin-block-start:    0; margin-bottom: 0 }

.m1  { margin:        @space-1 }
.mt1 { margin-block-start:    @space-1 }
.mr1 { margin-inline-end:  @space-1 }
.mb1 { margin-bottom: @space-1 }
.ml1 { margin-inline-start:   @space-1 }
.mx1 { margin-inline-start:   @space-1; margin-inline-end:  @space-1 }
.my1 { margin-block-start:    @space-1; margin-bottom: @space-1 }

.m2  { margin:        @space-2 }
.mt2 { margin-block-start:    @space-2 }
.mr2 { margin-inline-end:  @space-2 }
.mb2 { margin-bottom: @space-2 }
.ml2 { margin-inline-start:   @space-2 }
.mx2 { margin-inline-start:   @space-2; margin-inline-end:  @space-2 }
.my2 { margin-block-start:    @space-2; margin-bottom: @space-2 }

.m3  { margin:        @space-3 }
.mt3 { margin-block-start:    @space-3 }
.mr3 { margin-inline-end:  @space-3 }
.mb3 { margin-bottom: @space-3 }
.ml3 { margin-inline-start:   @space-3 }
.mx3 { margin-inline-start:   @space-3; margin-inline-end:  @space-3 }
.my3 { margin-block-start:    @space-3; margin-bottom: @space-3 }

.m4  { margin:        @space-4 }
.mt4 { margin-block-start:    @space-4 }
.mr4 { margin-inline-end:  @space-4 }
.mb4 { margin-bottom: @space-4 }
.ml4 { margin-inline-start:   @space-4 }
.mx4 { margin-inline-start:   @space-4; margin-inline-end:  @space-4 }
.my4 { margin-block-start:    @space-4; margin-bottom: @space-4 }

.mxn1 { margin-inline-start: -@space-1; margin-inline-end: -@space-1; }
.mxn2 { margin-inline-start: -@space-2; margin-inline-end: -@space-2; }
.mxn3 { margin-inline-start: -@space-3; margin-inline-end: -@space-3; }
.mxn4 { margin-inline-start: -@space-4; margin-inline-end: -@space-4; }

.ml-auto { margin-inline-start: auto }
.mr-auto { margin-inline-end: auto }
.mx-auto { margin-inline-start: auto; margin-inline-end: auto; }
.my-auto { margin-block-start: auto; margin-block-end: auto; }

.mx-vw { margin-inline-start: 5vw; margin-inline-end: 5vw; }
.mxn-vw { margin-inline-start: -5vw; margin-inline-end: -5vw; }