/**
 * Padding
 * @see Basscss
 */

.p0  { padding: 0 }
.pt0 { padding-block-start: 0 }
.pr0 { padding-inline-end: 0 }
.pb0 { padding-block-end: 0 }
.pl0 { padding-inline-start: 0 }
.px0 { padding-inline-start: 0; padding-inline-end:  0 }
.py0 { padding-block-start: 0;  padding-block-end: 0 }

.p1  { padding:        @space-1 }
.pt1 { padding-block-start:    @space-1 }
.pr1 { padding-inline-end:  @space-1 }
.pb1 { padding-block-end: @space-1 }
.pl1 { padding-inline-start:   @space-1 }
.py1 { padding-block-start:    @space-1; padding-block-end: @space-1 }
.px1 { padding-inline-start:   @space-1; padding-inline-end:  @space-1 }

.p2  { padding:        @space-2 }
.pt2 { padding-block-start:    @space-2 }
.pr2 { padding-inline-end:  @space-2 }
.pb2 { padding-block-end: @space-2 }
.pl2 { padding-inline-start:   @space-2 }
.py2 { padding-block-start:    @space-2; padding-block-end: @space-2 }
.px2 { padding-inline-start:   @space-2; padding-inline-end:  @space-2 }

.p3  { padding:        @space-3 }
.pt3 { padding-block-start:    @space-3 }
.pr3 { padding-inline-end:  @space-3 }
.pb3 { padding-block-end: @space-3 }
.pl3 { padding-inline-start:   @space-3 }
.py3 { padding-block-start:    @space-3; padding-block-end: @space-3 }
.px3 { padding-inline-start:   @space-3; padding-inline-end:  @space-3 }

.p4  { padding:        @space-4 }
.pt4 { padding-block-start:    @space-4 }
.pr4 { padding-inline-end:  @space-4 }
.pb4 { padding-block-end: @space-4 }
.pl4 { padding-inline-start:   @space-4 }
.py4 { padding-block-start:    @space-4; padding-block-end: @space-4 }
.px4 { padding-inline-start:   @space-4; padding-inline-end:  @space-4 }
