/**
 * Stack
 */

.stack-1 {
	> * + * {
		margin-block-start: @space-1;
	}
}

.stack-2 {
	> * + * {
		margin-block-start: @space-2;
	}
}

.stack-3 {
	> * + * {
		margin-block-start: @space-3;
	}
}

.stack-4 {
	> * + * {
		margin-block-start: @space-4;
	}
}
